<!DOCTYPE HTML>
<html lang="en" ng-app="alertaApp">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/alerta-controller.js"></script>
    
    <!-- Bootstrap CSS -->   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-controller="AlertaController">
    
    <div class="container">
  <h2>Alertas</h2>
  <p>Filtro de alertas.</p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Ponto de venda</th>
        <th>Descrição</th>
        <th>Produto</th>
        <th>Tipo</th>
        <th>Margem</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr ng-repeat="alerta in listaAlerta">
        <td>{{alerta.pontoDeVenda}}</td>
        <td>{{alerta.descricao}}</td>
        <td>{{alerta.produto}}</td>
        <td>{{alerta.flTipo}}</td>
        <td>{{alerta.margem}}</td>
      </tr>
    </tbody>
  </table>

</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</body>
</html>